<!DOCTYPE html>
<html>
<head>
<title>HTML Form</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<center><br><br>
<abbr title="mitmysore"><img src="images.png"/></abbr>
<br><br>
<div style="border:5px solid #73AD21;border-radius:35px";>
<table>
<h1 style="color:rgb(98, 237, 17);"><b>Sign Up Form</b></h1>
<h3 style="color: red;"><b>{{msg}}</b></h3>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
<tr>
<td><label for="fname"><b>First name:</b></label></td>
<td><input type="text" name="fname" required></td>
</tr>
<tr>
<td><label for="lname"><b>Last name:</b></label></td>
<td><input type="text"  name="lname"  required></td>
</tr>
<tr>
<td><label for="mail"><b>Mail Id:</b></label></td>
<td><input type="email"  name="mail" required></td>
</tr>
<tr>
    <td><label for="mail"><b>Username:</b></label></td>
    <td><input type="text"  name="uname" required></td>
    </tr>
<tr>
    <td><label for="password"><b>Password:</b></label></td>
    <td><input type="password" name="password" required></td>
    </tr>
    <tr>
        <td><label for="cpassword"><b>Confirm Password:</b></label></td>
        <td><input type="password" name="cpassword" required></td>
        </tr>
</table><br>
<input type="submit" value="submit"><br><br>
<input type="reset">
<p><b>Note:</b>Only valid details are consider</p>
</form>
</div>
<marquee behavior=alternate><b>Created by VSMP</b></marquee>
</center>
</body>
</html>